/* zero out margins and padding */

* {
  margin: 0;
  padding: 0;
  }

body {
  margin: 0;
}

.backgroundImageMain {
  background-image: url("https://cdn.pixabay.com/photo/2015/12/03/08/50/paper-1074131_960_720.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.welcomeSection, .aboutSection, .playerUp, .board {
  font-family: 'Meddon', cursive;
  font-size: large;
  flex-direction: column;
  text-align: center;
}

.board {
  margin: auto;
  width: 500px;
  height: 500px;
  border: solid 2px black;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2px;
}

.square {
  display: flex;
  height: 160px;
  width: 160px;
  border: solid 2px black;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: 3.7em;
  
}

